.linkedin_button {
  padding: 0;
  border: none;
  background: none;
}
.container {
	height: 5rem;
  width: 20px;
  text-align: center;
}
.brand-logo {
    font-family: 'Arial', sans-serif !important;
}

.nav-options{
    font-family: 'Arial', sans-serif !important;
}

.welcome {
    background-image: url("southhall.jpg");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 700px !important;
    background-position: center;
}

.welcome2 {
    background-image: url("southhall.jpg");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 700px !important;
    background-position: center;
}

.welcome_login{
    /*margin-top: 20px !important;*/
    padding: 20px !important;
}
