<!--
code adapted from 2016 FA INFO 290 TA project assignment
 -->
{% extends "base.html" %}
{% block navcontent %}

{% endblock %}

{% block content %}
<!-- Login page -->
<section class="welcome">
    <div class="container">
        <div class="row col s4 welcome_login">

            <h4>Welcome to the IRateISchool!</h4>
            <!-- Login form -->
            <form action="" method="post" name="login">
                {{ form.hidden_tag() }}
                <div class="section">
                    <div class = "login-buttons-with-only-one-button">
                        <button class = "linkedin_button" type="submit" value="Login">
                        <img src = "../static/Sign-in.png" class = "login-button btn-Linkedin navbar-login" >
                        </button>
                    </div>
                </div>
            </form>

            <!-- Error message display -->
            {% if error %}
            <p class="error red-text">
                <strong> Error:</strong>
                {{ error }}
            </p>
            {% endif %}

        </div>
    </div>
</section>
{% endblock %}
